* {
    margin: 0;
    font-family: "Spartan", sans-serif;
}

header {
    color: #fefffa;
}

ul {
    padding-left: 0;
    list-style: none;
}

.left_right_padd {
    padding-left: 15%;
    padding-right: 15%;
}

/* primer navbar */
.navTop {
    background-color: #b90e0e;
    grid-template-columns: 12;
    grid-template-rows: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .3em;
    padding-bottom: .3em;
}

.navTop button, .navBottom button {
    background: #db0000;
    padding: .5em;
    border-radius: 20px;
    border: .1em #b80e0f;
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    font-weight: bold;
    color: #fefffa;
}

.navTop button {
    margin-left: 70%;
}

.navTop a {
    color: #fefffa;
    text-decoration: none;
}

.contact li {
    display: inline;
}

.navTop img,
.navMid button img {
    cursor: pointer;
    filter: invert() sepia(0) hue-rotate(20deg) saturate(40%);
    opacity: 0.8;
    width: 1.2em;
    height: 1.2em;
}

.navTop label {
    display: none;
}

/* segundo navbar */
.navMid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #da0001;
}

/* logo lira */
.navMid img {
    width: 5em;
    height: 5em;
    padding-left: 0%;
}

.navMid button {
    background-color: #b90f0f;
    color: #fefffa;
    /* border-color: #c90001; */
    border: none;
    height: 2em;
    font-weight: bold;
}

.form {
    display: flex;
    align-items: center;
}

.form input{
    height: 1.7em;
    border-color: #eeeeee;
    width: 30em;
}

.product_selected {
    border-color: #dcdcdd;
    height: 2em;
    width: 5em;
    color: #959795;
    background-color: #feffff
    ;
}

/* tercer navbar */
.navBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7300;
    padding-top: 1.7em;
    padding-bottom: 1.7em;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.navBottom select {
    border: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: #ff7300;
    width: 1em;
}

.navBottom li {
    display: inline;
}


/* estilos del slide */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-100%);
    }

    35% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(-200%);
    }

    55% {
        transform: translateX(-300%);
    }

    70% {
        transform: translateX(-300%);
    }

    75% {
        transform: translateX(-400%);
    }

    90% {
        transform: translateX(-400%);
    }

    95% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(-500%);
    }
}

/* * { box-sizing: border-box; } */

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.slider {
    position: relative;
    text-align: center;
}

.slides {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slides:hover .slide {
    animation-play-state: paused;
}

.slide img {
    width: 100%;
    vertical-align: top;
}

.slide a {
    width: 100%;
    display: inline-block;
    position: relative;
}

.slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.slider-controler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 0.9em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding-left: 50%;
}

.slider-controler ul {
    list-style-type: none;
}

.slider-controler li {
    list-style-type: none;
    display: inline;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.3);
    height: .2em;
}

.slider-controler a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.slider-controler div {
    width: 1em;
    height: 100%;
}

.slider-controler li:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.slider-controler li:active {
    background-color: #ffffff;
}
/* sección de botones de categoria */
.category_btn_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_btn_section img {
    max-width: 33, 3%;
    max-height: 30em;
}

/* boton de ofertas */
.daily_offer_btn button {
    width: 100%;
    height: 3em;
    background-color: #da0001;
    color: #ffffff;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 1px 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.daily_offer_btn img {
    height: 50%;
    filter: invert(50);
    margin-right: 1em;
}

.daily_offer_btn a {
    text-decoration: none;
}

/* botones secciones de los productos */
.products_btn_section ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
}

.products_btn_section div {
    border-radius: 50px;
    width: 8em;
    height: 8em;
    display: flex;
    text-align: center;
    align-items: center;
}

.products_btn_section a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.yellow_1 {
    background-color: #ffc601;
}

.orange_1 {
    background-color: #fe7200;
}

.yellow_2 {
    background-color: #f3de00;
}

.orange_2 {
    background-color: #ff4601;
}

.red_1 {
    background-color: #fe3031;
}

.red_2 {
    background-color: #fe0000;
}

/* estilos del menú de pestañas */
:root {
    --tabs-border-color: #e7e6e7;
    --tabs-border-size: 0.03em;
    --tabs-text-color: #857d7c;
    --tabs-dark-color: #f4f5f4;
    --tabs-lite-color: #ffffff;
    --tabs-width: 240px;
    --tabs-height: 50px;
}

.tabs * {
    box-sizing: border-box;
}

.tabs a {
    text-decoration: none;
}

.first_tab_section h2 {
    color: #545554;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 2em;
}

.first_tab_section {
    padding-bottom: .3em;
}

.items {
    border: 0.1em solid #e7e6e7;
}

.tab_content {
    padding-bottom: 3em;
    display: none;
}

.tab:target .tab_content,
.tab:last-of-type .tab_content {
    display: block;
}

.tab:target~.tab:last-of-type .tab_content {
    display: none;
}

/* esto es para posicionar las pestañas correctamente */
.tab_container {
    position: relative;
    padding-top: var(--tabs-height);
    /* en esta zona colocaremos las pestañas */
}

#tab1>a, #tab2_1>a, #tab3_1>a {
    --tabs-position: 0;
}

#tab2>a, #tab2_2>a, #tab3_2>a {
    --tabs-position: 1;
}

#tab3>a, #tab2_3>a, #tab3_3>a {
    --tabs-position: 2;
}

.tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size));
    top: 0;
    left: calc(var(--tabs-width) * var(--tabs-position));
    text-transform: uppercase;
    padding-top: .4em;
    font-weight: bold;
    /* posición de cada pestaña */
}

.tabs {
    padding: 10px;
    color: var(--tabs-text-color);
}

.tab_content {
    background-color: var(--tabs-lite-color);
    padding: 10px;
    position: relative;
    z-index: 100;
    width: 12em;
    height: 100%;
    color: #a6a6a6;
    line-height: 1.5em;
    text-align: center;
}

.price span {
    color: #a6a6a6;
    text-decoration: line-through;
}

.price {
    color: #000000
}

.tab_content button {
    background-color: #ffffff;
    border: .15em solid #e12d2d;
    border-radius: 24px;
    text-transform: uppercase;
    padding: .3em .7em;
    margin-top: .4em;
}

.tab_content button a {
    color: #dd0b01;
}

.tab_content img {
    width: 100%;
    height: 12em;
}

.tab_content a {
    text-decoration: none;
    color: #334b67;
    font-weight: bold;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab>a {
    background-color: var(--tabs-dark-color);
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    text-decoration: none;
    color: #857d7c;
}

.tab:target>a,
.tab:last-of-type>a {
    background-color: var(--tabs-lite-color);
    z-index: 200;
    color: #000;
}

.tab:target~.tab:last-of-type>a {
    background-color: var(--tabs-dark-color);
    z-index: 0;    
    color: #857d7c;
}

/* mensajes alusivos al despacho */
.messages>div {
    border-radius: 18px;
    padding: .3em 0em;
    margin-top: 1em;
    line-height: 1.5em;
    font-weight: 600;
    padding-bottom: 2em;
    font-size: larger;
    letter-spacing: .05em;
}

.red_message {
    background-color: #da0001;
    color: #ffffff;
    text-align: center;
}

.red_message img,
.truck_img {
    width: 1em;
    height: 1em;
    margin-left: .2em;
}

.orange_message {
    background-color: #fc9203;
    color: #ffffff;
    text-align: center;
    /* height: 5em; */
}


/* estilos del footer */
footer img {
    width: 100%;
}
.footer_body {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #f4f4f4;
    color: #777b81;
    font-weight: bold;
    font-size: large;
    padding-bottom: 2.2em;
}

.footer_body>div {
    width: 33.3%;
    padding-right: .3em;
}

.footer_body a {
    text-decoration: none;
    color: #334862;
}

.footer_body h3 {
    color: #b00100;
}

.about,
.info {
    line-height: 2.3em;
}

.info div {
    line-height: 1em;
    font-size: medium;
    letter-spacing: .05em;
}

.line {
    width: 2em;
    height: .16em;
    background-color: #e0e0e0;
    margin-bottom: .5em;
}

.human_resources {
    width: 100%;
}

.human_resources div,
.human_resources a {
    background-color: #da0001;
    color: #ffffff;
    margin-top: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.human_resources div {
    height: 5em;
    font-size: xx-large;
    line-height: 1.2em;
    font-weight: lighter;
}

.human_resources a {
    border-radius: 16px;
    padding: .5em;
    font-weight: bolder;
    text-transform: uppercase;
}

.final_stripe {
    background-color: #ae0101;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding: 1em;
    letter-spacing: .02em;
}